@import "../../../styles/globals.scss";
@import "../../../styles/_variables";

.about-us {
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
}

.about {
  max-width: 1440px;
  // width: 1183px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  color: $white-color;
  display: flex;
  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
  }

  @media screen and (max-width: $breakpoint-xs) {
    flex-direction: column;
  }
}
.about-img {
  display: flex;
  width: 50%;
  @media screen and (max-width: $breakpoint-md) {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.about-content {
  width: 50%;
  @media screen and (max-width: $breakpoint-md) {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.join-us {
  padding: 100px 135px 0px 64px;
  @media screen and (max-width: $breakpoint-md) {
    padding: 20px 16px 0px 16px;
  }

  @media screen and (max-width: $breakpoint-xs) {
    padding: 20px 16px 0px 16px;
  }
}

.about-content h2 {
  font-size: 50px;
  font-family: $bs-work-sans-font-family;
  font-style: normal;
  font-weight: bold;
  line-height: 1.111em;
  margin-bottom: 32px;
  @media screen and (max-width: $breakpoint-md) {
    font-size: 25px;
  }

  @media screen and (max-width: $breakpoint-xs) {
    font-size: 25px;
  }
}

.about-content h6 {
  margin-bottom: 16px;
  font-size: 13px;
  font-family: $bs-work-sans-font-family;
  font-style: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $blue-color;
}

.about-content p {
  font-size: 16px;
  font-family: $bs-work-sans-font-family;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 32px;
  color: #ffffff99;
}

.custom-btn {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 100px 100px 100px 100px;
  padding: 16px 32px 16px 32px;
  background-color: #db364700;
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
  border: 2px solid;
  font-family: $bs-work-sans-font-family;
  font-style: normal;
}

.img-one {
  margin: 0px 15px 0px 0px;
  text-align: left;
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
  @media screen and (max-width: $breakpoint-md) {
    max-width: 48%;
  }

  @media screen and (max-width: $breakpoint-xs) {
    max-width: 48%;
  }
}

.img-two {
  margin: 0px 0px 0px 15px;
  padding: 100px 0px 0px 0px;
  text-align: left;
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
  @media screen and (max-width: $breakpoint-md) {
    max-width: 48%;
  }

  @media screen and (max-width: $breakpoint-xs) {
    max-width: 48%;
  }
}

.input,
.messages {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-88f848e);
  border-radius: 0px 0px 0px 0px;
  padding: 14px 16px 14px 16px;
  border-color: #e2e5f2;
  @media screen and (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.name div , .email div , .textarea div {
  color: red;
}

.textarea{
  width: 82%;
  @media screen and (max-width: $breakpoint-xlg) {
    width: 100%;
  }
  @media screen and (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.messages {
  width: 100%;
}
.textarea, .checkbox {
  margin-bottom: 10px;
}
.form {
  display: flex;
  gap: 5px;
  margin: 10px 0px;

  @media screen and (max-width: $breakpoint-xs) {
    flex-direction: column;
  }
}

.checkbox{
  // width: 100%;
  margin-right: 5px;
}

.main-heading {
  animation: fadeInDown 3s ease forwards;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}